<div class="contact">
  <h1>Contact</h1>
  <ul>
    <li>Chicago, IL USA</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 715 297 3650</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:tobizehpanda@gmail.com">tobizehpanda@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://tobizehpanda.github.io">https://tobizehpanda.github.io</a></li>
    <li><span class="li-icon">{% include svg/discord.svg %}</span><a href="discordapp.com/users/248252376878809088">discord</a></li>
    <li><span class="li-icon">{% include svg/face-id.svg %}</span><a href="https://en.pronouns.page/@tobizehpanda">pronouns.page</a></li>
  </ul>
</div>
