.gray {
	color: var(--oc-gray-6);
}

.red {
	color: var(--oc-red-6);
}

.pink {
	color: var(--oc-pink-6);
}

.grape {
	color: var(--oc-grape-6);
}

.violet {
	color: var(--oc-violet-6);
}

.indigo {
	color: var(--oc-indigo-6);
}

.blue {
	color: var(--oc-blue-6);
}

.cyan {
	color: var(--oc-cyan-6);
}

.teal {
	color: var(--oc-teal-6);
}

.green {
	color: var(--oc-green-6);
}

.lime {
	color: var(--oc-lime-6);
}

.yellow {
	color: var(--oc-yellow-6);
}

.orange {
	color: var(--oc-orange-6);
}

