html, body {
  height: 100%;
}

#pfp {
  max-width: 75%;
  border-radius: 50%;
  margin-right: 1em;
  transition: max-width 0.5s ease;
}

#pfp:hover {
  max-width: 80%;
}

#name-title {
  font-size: 3em;
  transition: color 0.5s ease;
}

#name-title:hover {
  color: #f06595; 
}

.line {
  display: inline-block;
  width: 2px;
  height: 10em;
  background-color: white;
  margin-left: 8px;
  margin-right: 1em;
}

#menu {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  list-style: none;
  font-size: 200%;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
}


